includes:
    - phpstan-baseline.neon
    - tools/phpstan/vendor/phpstan/phpstan-doctrine/extension.neon
    - tools/phpstan/vendor/phpstan/phpstan-symfony/extension.neon
    - tools/phpstan/vendor/phpstan/phpstan-symfony/rules.neon
    - tools/phpstan/symfony.container.php

parameters:
    bootstrapFiles:
        - vendor/bin/.phpunit/phpunit/vendor/autoload.php

    doctrine:
        objectManagerLoader: tests/object-manager.php

    ignoreErrors:
        - identifier: missingType.generics

    level: 6
    paths:
        - bin
        - config
        - public
        - src
        - tests

    excludePaths:
        - src/Utils
        - src/ACL.php
