{% extends '../../base.html.twig' %}

{% block page_title %} {{ 'title.change_password'|trans }} {% endblock %}
{% block page_pretitle %} User settings {% endblock %}

{% block page_content %}
    <div class="row">
        <div class="col-sm-12 col-md-8 col-lg-8">
            {% embed '@theme/components/form.html.twig' %}
                {% import '@theme/components/buttons.html.twig' as buttons %}
                {% block box_footer %}
                    {{ buttons.submit_button('form-submit', {title : 'action.change_password'|trans}, 'primary') }}
                    {{ buttons.link_button('action.cancel'|trans, path('profile_edit'), 'form-cancel', 'default') }}
                {% endblock %}
            {% endembed %}
        </div>
    </div>
{% endblock %}
