{% set rawValue = column.rawValue(item) %}
{% if column.values|length > 0 %}
    {% set value = column.value(item) %}
{% else %}
    {% set value = rawValue ? 'ui.datagrid.column.boolean.true'|trans : 'ui.datagrid.column.boolean.false'|trans %}
{% endif %}

{% if rawValue %}
    <span class="text-success">{{ value }}</span>
{% else %}
    <span class="text-danger">{{ value }}</span>
{% endif %}
